# Create a dataframe, save it as csv file, set index as Random

In [28]:
import numpy as np
import pandas as pd

#np arrays
random = np.random.randint(low = 0, high =100, size = 10)
name = np.random.choice(['A', 'B', 'C', 'D', 'E'],size =  10)
choice = np.random.choice([10,11,13,12,14],size = 10)

#creating dictionary
dict1 = {
    'Random':random, 
    'Name':name,
    'Choice':choice
}

#creating dataframe
df = pd.DataFrame(dict1)
print(df,"\n")
df.to_csv("Pandas_DataFrame")
#df = df.set_index('Random')   # This will Create new object df
df.set_index('Random',inplace = True)
print(df)

# Sorting Index
#df.sort_index(ascending=True)

# Sorting Values by Column wise
#df.sort_values(by='Choice', ascending = True)

   Random Name  Choice
0       2    D      10
1       4    D      11
2      88    C      13
3      82    E      12
4      85    B      13
5      25    A      12
6      44    C      13
7      57    E      11
8      27    A      10
9      51    D      12

       Name  Choice
Random
2         D      10
4         D      11
88        C      13
82        E      12
85        B      13
25        A      12
44        C      13
57        E      11
27        A      10
51        D      12

# Create a dataframe,merge it with new column

In [27]:
random = np.random.randint(low = 0, high =100, size = 10)
name = ["Dawid Malan","Babar Azam","KL Rahul","Aaron Finch","Rassie van der Dussen","Glenn Maxwell","Virat Kohli","olin Munro","Tim Seifert","Hazratullah Zazai"]
choice = np.random.choice([10,11,13,12,14],size = 10)

#creating dictionary
dict1 = {
    'Random':random, 
    'Name':name,
    'Choice':choice
}

#creating dataframe-1
df1 = pd.DataFrame(dict1)
print(df1,"\n")

choice1 = np.random.choice([100,200,300,400,500],size = 10)
name = ["Dawid Malan","Babar Azam","KL Rahul","Aaron Finch","Rassie van der Dussen","Glenn Maxwell","Virat Kohli","olin Munro","Tim Seifert","Hazratullah Zazai"]
dict2 = {'Name':name,'Choice1':choice1}
#creating dataframe-2
df2 = pd.DataFrame(dict2)
print(df2,"\n")
pd.merge(df1,df2, on='Name', how ='outer')

   Random                   Name  Choice
0      64            Dawid Malan      11
1      45             Babar Azam      14
2      68               KL Rahul      11
3      52            Aaron Finch      10
4      98  Rassie van der Dussen      12
5      25          Glenn Maxwell      14
6      29            Virat Kohli      12
7      87             olin Munro      11
8      89            Tim Seifert      12
9      84      Hazratullah Zazai      13

                    Name  Choice1
0            Dawid Malan      500
1             Babar Azam      500
2               KL Rahul      400
3            Aaron Finch      300
4  Rassie van der Dussen      200
5          Glenn Maxwell      200
6            Virat Kohli      300
7             olin Munro      300
8            Tim Seifert      200
9      Hazratullah Zazai      100

   Random                   Name  Choice  Choice1
0      64            Dawid Malan      11      500
1      45             Babar Azam      14      500
2      68               KL Rahul      11      400
3      52            Aaron Finch      10      300
4      98  Rassie van der Dussen      12      200
5      25          Glenn Maxwell      14      200
6      29            Virat Kohli      12      300
7      87             olin Munro      11      300
8      89            Tim Seifert      12      200
9      84      Hazratullah Zazai      13      100